body{
    width: 100%;
    min-height: 100%;
    margin: 0;
}

a{
    text-decoration: none;
    background-color: transparent;
    color:#ededed;
}

.theme-bg-color{
    background-color: darkslategray;
}

.navbar{
    padding: 10px 0;
}

#banner_image{
    padding-top: 75px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/intro-bg_1.jpg) no-repeat center center;
    background-size: cover;
}

.inner-banner-image{
    padding-top: 12%;
    width:80%;
    margin:auto;
}

#banner-content{
    position: relative;
    padding-top: 6%;
    padding-bottom: 6%;
    margin-top: 12%;
    margin-bottom: 12%;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 660px;
}

.button{
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 6px;
}

.items{
    width:30%;
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    float:left;
    margin-left:1%;
}

.caption{
    color:#000;
    padding:0px 10px 10px;
    font-weight: bold;
    text-align: center;
}

footer{
    padding: 10px 0;
    background-color: #101010;
    color:#fff;
    bottom: 0;
    width: 100%;
    position: fixed;
    left: 0;
    text-align: center;
    margin-top: 10%;
}

.navbar-inverse .navbar-brand{
    font-size: 25px;
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand{
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-brand:hover{
    color: bisque;
}

.panel{
    border-color: darkslategray;
}

#mybtn{
    color: #fff;
    background-color: darkslategray;
    border-color: darkslategray;
}

#mybtn:hover{
    color: darkslategray;
    background-color: #fff;
    border-color: darkslategray;
    transition: 0.4s;
}

.panel-primary > .panel-heading{
    background-color: darkslategray;
    border-color: darkslategray;
}